@import "mixins";
//首页
#app{
  width: 100%;
  position: relative;
  overflow: hidden;
  //头部导航
  .header{
    &.on{
      background-color:rgba(255,255,255,.8) ;
      animation: header 1s;
    }
      z-index: 1;
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing :border-box;
        height: 71px;
        padding: 2.5px 0;
        background: #fff;
      //  background: #98fb98;
        box-shadow:2px 2px 5px #333333;
        transition:all 1s ;
       .header_nav{
        .clearFix();
     // margin: 0 auto;
       width :1200px;
      margin: 10px auto;
      .header_left{
        float: left;
        box-sizing: border-box;
        width: 280px;
        height: 100%;
        //height: 71px;
        .header_img{
          width: 100%;
          height: 40px;
          &>a{
            img{
              width: 100%;
              height: 100%;
              vertical-align: middle;
            }
          }
        }
      }
      .header_right{
        float: right;
        width: 750px;
        height: 40px;
        font-size: 18px;
       //background: deeppink;
        .header_right_font{
          width: 100%;
          height: 40px;
          line-height: 40px;
          box-sizing: border-box;
          &>li{
            &>a{
              &.active{
                color: red;
              }
              display: inline-block;
              vertical-align: middle;
              line-height:  40px;
              color: #000000;
             // font-weight: bold;
            }
            &>a:hover{
              color: red;
              transition: all 1s;
            }
            float: left;
            //padding: 2px;
            width: 80px;
            text-align: center;
            margin-left: 15px;
            &:nth-child(1){
              width: 150px;
              .iconfont{
                font-size:20px ;
              }
            }
            &:nth-child(2){
              margin-left: 30px;
              //&>a{color: red;}
            }
            &.last_bg_red{
             &>a{
               background: red;
               color: white;
               border-radius: 7px;
               width: 80px;
               height: 30px;
               line-height:29px ;
             }
            }
          }
        }
      }
    }
  }
  //轮播图
  .lunbotu{
    //margin-top: 71px;
    width: 100%;
    height: 420px;
    //background: pink;
    margin: 71px auto;
    position: relative;
    #demo1{
      width: 100%;
      height: 420px;
      .items{
        height:100% ;
        &>li{
          width: 100%;
          height:420px ;
         // height:100% ;
         &>a{
           width: 100%;
           height:420px ;
           // height:100% ;
           img{
             width: 100%;
             height:100% ;
           }
         }
        }
      }
    }
    .luobotu_mask{
      position: absolute;
      left: 60px;
      top: 0;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
     // top: 71px;
      .left{
        width: 180px;
        height:422px;
        background:#757881 ;
        .left_ul{
          position: relative;
          .sanjiao{
            display: none;
            //display: inline-block;
            width: 0;
            height: 0;
            border-right:10px solid #FFFFFF ;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            line-height:42.2px;
            vertical-align: middle;
            position: relative;
            right: -53px;
            top:2.3%;
          }
          &>li:hover{
            background: #23527c;
            text-indent: -13px;
            &> .right_ul{
              display: block;
            }
            &> .sanjiao{
              display: inline-block;
            }
            &>.iconfont{
             display: none;
            //  visibility: hidden;
            }
          }
          &>li{
            height:42.2px;
            line-height: 42.2px;
              &>.iconfont{
              //  visibility: visible;
              //display: none;
              display: inline-block;
                color: #FFFFFF;
                margin-left: 10px;
              }
            a{
              color: #FFFFFF;

            }
            .right_ul{
              display: none;
              width: 160px;
              height:422px;
              background:rgba(255,255,255,.9) ;
              position: absolute;
              left: 180px;

              top: 0;
              &>li:hover{
                a{
                  color: red;
                }
              }
              &>li{
                height:42.2px;
                line-height: 42.2px;
                .active{
                  color: red;
                }
                a{
                  color: #000;
                 // font-weight: bold;
                }
              }
            }

          }
        }
      }

    }
  }
  //详情
//家庭保洁
  .detail{
    width: 100%;
   // height: 1000%;
    &>.home{
      margin-top: -71px;
      width: 100%;
      height:654px;
    //  background: palegreen;
      box-sizing: border-box;
      padding: 20px 10px;
      &>.home_wrapper{
        width: 1200px;
        height:71px;
        // background: red;
        margin: 10px  auto;
        font-size: 26px;
        .title{
          width: 100%;
          height:31px;
          text-align: center;
          font-weight: bold;
          margin-bottom: 10px;
         // font-size: 20px;
        }
        .info{
          width: 100%;
          height:25px;
          //background: pink;
          text-align: center;
          line-height: 25px;
          font-size: 22px;
          .info_inner{
            width: 100%;
            height:25px;
            &>.info_ul{
              .clearFix();
              width: 1080px;
              height:100%;
              margin: 0 auto;
              font-size: 18px;
              &>li{
                margin: 0 auto;
                float: left;
                width: 120px;
                height: 22px;
                // background: greenyellow;
                line-height: 22px;
                a{
                  width: 100%;
                  height: 100%;
                  display: inline-block;
                }
                /* &:nth-child(1){
                   margin-left: 100px;
                 }*/
                /*&:nth-child(6){
                  margin-right: 50px;

                }*/
              }
            }
          }

          .last_gengduo{
           // margin-right: 0px;
            width: 120px;
            height: 25px;
            float: right;
          //  background: #000;
            line-height: 22px;
            margin-top: -22px;
            a{
              display: inline-block;
              width: 120px;
              height: 25px;
            //  background: pink;
            }
            //margin-top: 100px;
            a{
              font-size: 18px;
              display: inline-block;
              width: 140px;
              height: 100%;
              text-align: right;
            }
          }
        }
      }
      .home_imgwrapper{
        width: 1200px;
        height:345px;
        //background: pink;
        margin: 0 auto;
        padding: 10px;
        &>.img_wrapper{
          float: left;
          width: 230px;
          height:345px;
        //  background: paleturquoise;
          box-sizing: border-box;
          margin-left: 10px;
          &:nth-child(1){
            margin-left: 5px;
          }
          .padding_box{
            &:hover{
              box-shadow:4px 4px 10px #333333;
            }
            margin: 5px auto;
            width: 220px;
            height:335px;
            border: solid 1px #7e8c8d;
         //   background: yellowgreen;
            &>.img{
              width: 210px;
              height:210px;
              margin: 0 auto;

              &>img{
                display: block;
                margin: 0 auto;
                width: 100%;
                //height:210px;
            //    background: #000;
              }
            }

            .img_title{
              font-size: 16px;
              color: black;
              margin: 5px 0;
            }
            .img_info{
              font-size: 13px;
              color: #929292;
              margin-bottom: 30px;
            }
            .img_price{
              width: 208px;
              height:20px;
              .font_red{
                color: red;
                display: inline-block;
                margin-left: 10px;
              }
              .font_white{
                display: inline-block;
                width: 76px;
                height:24px;
                background: red;
                color: #FFFFFF;
                float: right;
                line-height: 24px;
                text-align: center;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .text_wrap{
        width: 1192px;
        height:118px;
        margin: 0 auto;
        padding: 20px 10px;
        box-sizing: border-box;
     //  background: yellowgreen;
        border: 1px solid #bbb;
        .home_text{
          width: 1192px;
          height: 100%;
          &>a{
            color: #929292;
            margin: 10px;
            &:hover{
              color: red;
            }
          }
        }
      }

    }
  }
//footer
  .footer{
      .footer_top{
        width: 100%;
        height:384px;

        .baozhang_header{
          width: 100%;
          height:124px;
        //  background: greenyellow;
          display: flex;
          flex-direction: column;
          align-items: center;

          .fuwu{
            height: 33px;
            width: 100%;
            text-align: center;
            font-weight: bold;
            h2{
              font-size: 28px;
              height: 100%;
              .red{
                color: red;
              }
            }
          }
          .jiaoyi{
            height: 45px;
            width: 100%;
            text-align: center;
            margin: 10px 0;
            line-height:45px;
            font-size:24px ;
          }
          .miaoshu{
            height: 44px;
            width: 100%;
            display: flex;
           // flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size:20px ;
            .item{
              height: 22px;
              width: 139px;
              text-align: center;
              .iconfont{
                color: #55ff50;
                font-size:20px ;
              }
            }
          }
        }
        .footer_bottom{
          width: 100%;
          height:170px;
         // background: pink;
          margin-top:56px ;
          .clearFix();
          .city{
            .remen_city{
              width: 14%;
              height: 170px;
             // background: yellow;
              float: left;
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              span{
                line-height: 80px;
              }
            }
            .list{
              float: right;
              width: 86%;
              height: 170px;
            //  background: plum;
              .city_ul{
                height: 170px;
                width: 100%;
                box-sizing: border-box;
                padding: 20px;
                &>li{
                  float: left;
                  height: 30px;
                  width: 92px;
                  margin: 2px;
                  &>a{
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    line-height:30px;
                    text-align: center;
                //    background: paleturquoise;
                  }
                }
              }
            }
          }

        }

      }

      .hezuo{
        height: 240px;
        width: 100%;
        //background: yellow;
        .hezuo_title{
          height: 30px;
          width: 100%;
          box-sizing: border-box;
         // background: pink;
          padding-left: 50px;
          font-size: 18px;
          line-height:  30px;
        }
        .small_icon{
          height: 60px;
          width: 100%;
          box-sizing: border-box;
          padding: 10px 20px;
          &>.icon{
            margin: 5px;
            width: 10.3%;
            float: left;
            height: 60px;
           // width: 120px;
          //  background: yellowgreen;
            &>a{
              width: 100%;
              height: 100%;
              &>img{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .banquan{
          width: 100%;
          height: 40px;
         // background: pink;
          margin-bottom: 0px;
          overflow: hidden;
          box-sizing: border-box;
          padding: 0 20px;
          &>p{
            width: 100%;
            height: 40px;
            line-height:40px;
            font-size: 14px ;
            color: #999;
          }
        }
      }

  }


}

//header动画
@keyframes header {
  0%{
    opacity :0;
    transform :rotateX(-90deg);
    height: 0px;
  }
  100%{
    opacity :0.7;
    transform: rotateX(0);
    height :72px;
  }
}


//服务商页
#service{
  width: 100%;
  position: relative;
  //overflow: hidden;
  //头部导航
  .header{
    &.on{
      background-color:rgba(255,255,255,.8) ;
      animation: header 1s;
    }
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing :border-box;
    height: 71px;
    padding: 2.5px 0;
    background: #fff;
    //  background: #98fb98;
    box-shadow:2px 2px 5px #333333;
    transition:all 1s ;
    .header_nav{
      .clearFix();
      // margin: 0 auto;
      width :1200px;
      margin: 10px auto;
      .header_left{
        float: left;
        box-sizing: border-box;
        width: 280px;
        height: 100%;
        //height: 71px;
        .header_img{
          width: 100%;
          height: 40px;
          &>a{
            img{
              width: 100%;
              height: 100%;
              vertical-align: middle;
            }
          }
        }
      }
      .header_right{
        float: right;
        width: 750px;
        height: 40px;
        font-size: 18px;
        //background: deeppink;
        .header_right_font{
          width: 100%;
          height: 40px;
          line-height: 40px;
          box-sizing: border-box;
          &>li{
            .active{
              color: red;
            }
            &>a{
              .active{
                color: red;
              }
              display: inline-block;
              vertical-align: middle;
              line-height:  40px;
              color: #000000;
              // font-weight: bold;
            }
            &>a:hover{
              color: red;
              transition: all 1s;
            }
            float: left;
            //padding: 2px;
            width: 80px;
            text-align: center;
            margin-left: 15px;
            &:nth-child(1){
              width: 150px;
              .iconfont{
                font-size:20px ;
              }
            }
            &:nth-child(2){
              margin-left: 30px;
              //&>a{color: red;}
            }
            &.last_bg_red{
              &>a{
                background: red;
                color: white;
                border-radius: 7px;
                width: 80px;
                height: 30px;
                line-height:29px ;
              }
            }
          }
        }
      }
    }
  }

  //详情
  //家庭保洁
  .detail{
    margin-top: 71px;
    width: 100%;
   // height: 2000%;
    &>.home{
      .clearFix();
     // margin-top: -71px;
      width: 100%;
     // height:654px;
      //  background: palegreen;
      box-sizing: border-box;
      padding: 20px 10px;
      &>.home_wrapper{
        width: 1200px;
        height:85px;
      //  background: red;
        margin: 0  auto;
        font-size: 26px;
        .title{
          width: 100%;
          height:100%;
          text-align: left;
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 20px;
          line-height:85px;
        }
      }
      .home_left{
        width: 960px;
        //height:300px;
       // background: pink;
        margin-left: 30px;
        float: left;
        .home_imgwrapper{
          width: 100%;
          height:100%;
          //background: pink;
          &>.img_wrapper{
            float: left;
            width: 230px;
            height:300px;
            //  background: paleturquoise;
            box-sizing: border-box;
            margin-left: 10px;
          /*  &:nth-child(1){
              margin-left: 5px;
            }*/
            &>a{
              display: inline-block;
              .padding_box{
                &:hover{
                  box-shadow:4px 4px 10px #333333;
                }
                margin: 5px auto;
                width: 232px;
                height:300px;
                box-sizing: border-box;
                border: solid 1px #7e8c8d;
                //   background: yellowgreen;
                &>.img{
                  width: 210px;
                  height:210px;
                  margin: 10px auto;

                  &>img{
                    display: block;
                    margin: 1px auto;
                    width: 100%;
                    height: 100%;
                    //height:210px;
                    //    background: #000;
                  }


                }

                .img_title{
                  font-size: 20px;
                  color: black;
                  margin: 5px 0;
                  margin-left: 10px;
                  .iconfont{
                    font-size: 20px;
                    color:#929292;
                  }
                }
                .img_price{
                  width: 208px;
                  height:20px;
                  .font_red{
                    color: #929292;
                    display: inline-block;
                    margin-left: 10px;
                    font-size: 12px;
                  }
                  .font_white{
                    display: inline-block;
                    width: 76px;
                    height:24px;
                    // background: red;
                    color: #929292;
                    float: right;
                    line-height: 24px;
                    text-align: center;
                    border-radius: 5px;
                    font-size: 12px;
                  }
                }
              }
            }

          }

        }

      }

      .home_right{
        width: 240px;
        height:100%;
       // background: yellowgreen;
        float: left;
        .fix_img{
          width: 230px;
          height:300px;
         // background: pink;
          float: right;
          margin:5px;
         // box-sizing: border-box;
          &>img{
            display: inline-block;
            vertical-align: middle;
           // margin-right:0px;
            width: 100%;
            height: 100%;
          }
        }
      }


    }
  }

  //gengduo

/*  .gengduo{
    width: 970px;
    height:152px;
    background: pink;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    //float: left;
  }*/
  //服务页footer
  .footer{

    .footer_top{
      width: 100%;
      height:370px;
      overflow: hidden;

      //.clearFix();
      .baozhang_header{
        margin-top: 40px;
        width: 100%;
        height:124px;
        //  background: greenyellow;
        display: flex;
        flex-direction: column;
        align-items: center;

        .fuwu{
          height: 33px;
          width: 100%;
          text-align: center;
          font-weight: bold;
          h2{
            font-size: 28px;
            height: 100%;
            .red{
              color: red;
            }
          }
        }
        .jiaoyi{
          height: 45px;
          width: 100%;
          text-align: center;
          margin: 10px 0;
          line-height:45px;
          font-size:24px ;
        }
        .miaoshu{
          height: 44px;
          width: 100%;
          display: flex;
          // flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size:20px ;
          .item{
            height: 22px;
            width: 139px;
            text-align: center;
            .iconfont{
              color: #55ff50;
              font-size:20px ;
            }
          }
        }
      }
      .footer_bottom{
        width: 100%;
        height:170px;
        // background: pink;
        margin-top:56px ;
        overflow: hidden;
        .city{
          .remen_city{
            width: 14%;
            height: 170px;
            // background: yellow;
            float: left;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            span{
              line-height: 80px;
            }
          }
          .list{
            float: right;
            width: 86%;
            height: 170px;
            //  background: plum;
            .city_ul{
              height: 170px;
              width: 100%;
              box-sizing: border-box;
              padding: 20px;
              &>li{
                float: left;
                height: 30px;
                width: 92px;
                margin: 2px;
                &>a{
                  display: inline-block;
                  height: 100%;
                  width: 100%;
                  line-height:30px;
                  text-align: center;
                  //    background: paleturquoise;
                }
              }
            }
          }
        }

      }

    }

    .hezuo{
      height: 40px;
      width: 100%;
      background: #FBF8F8;
      .banquan{
        width: 100%;
        height: 40px;
      //  overflow: hidden;
        box-sizing: border-box;
        padding: 0 20px;
          &>.bb{
        //  background: pink;
          width: 100%;
         height: 40px;
          line-height:40px;
          font-size: 14px ;
          color: #999;
         // margin-top: -20px;
        }
      }
    }

  }


}



//服务商详情页
#comment{
  width: 100%;
  position: relative;
  background: #F8F8F8;
  //overflow: hidden;
  //头部导航
  .header{
    &.on{
      background-color:rgba(255,255,255,.8) ;
      animation: header 1s;
    }
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing :border-box;
    height: 71px;
    padding: 2.5px 0;
    background: #fff;
    //  background: #98fb98;
    box-shadow:2px 2px 5px #333333;
    transition:all 1s ;
    .header_nav{
      .clearFix();
      // margin: 0 auto;
      width :1200px;
      margin: 10px auto;
      .header_left{
        float: left;
        box-sizing: border-box;
        width: 280px;
        height: 100%;
        //height: 71px;
        .header_img{
          width: 100%;
          height: 40px;
          &>a{
            img{
              width: 100%;
              height: 100%;
              vertical-align: middle;
            }
          }
        }
      }
      .header_right{
        float: right;
        width: 750px;
        height: 40px;
        font-size: 18px;
        //background: deeppink;
        .header_right_font{
          width: 100%;
          height: 40px;
          line-height: 40px;
          box-sizing: border-box;
          &>li{
            .active{
              color: red;
            }
            &>a{
              .active{
                color: red;
              }
              display: inline-block;
              vertical-align: middle;
              line-height:  40px;
              color: #000000;
              // font-weight: bold;
            }
            &>a:hover{
              color: red;
              transition: all 1s;
            }
            float: left;
            //padding: 2px;
            width: 80px;
            text-align: center;
            margin-left: 15px;
            &:nth-child(1){
              width: 150px;
              .iconfont{
                font-size:20px ;
              }
            }
            &:nth-child(2){
              margin-left: 30px;
              //&>a{color: red;}
            }
            &.last_bg_red{
              &>a{
                background: red;
                color: white;
                border-radius: 7px;
                width: 80px;
                height: 30px;
                line-height:29px ;
              }
            }
          }
        }
      }
    }
  }

  //详情
  //comment页面
  .detail{
    //background-color: #55ff50;
    margin-top: 71px;
    width: 100%;
    // height: 2000%;
    &>.home{
      .clearFix();
      // margin-top: -71px;
      width: 100%;
      // height:654px;

      box-sizing: border-box;
      //padding: 20px 10px;
      //conment头部
      &>.home_header{
        width: 1200px;
        height:140px;
       //  background: plum;
        margin: 0  auto;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title_left{
          width: 500px;
        //  float: left;
          .time{
            font-size: 10px;
            width: 100%;
            height:100%;
            .gray{
              color: #7e8c8d;
            }
            .red{
              color:red
            }
            .big{
              font-size: 32px;
              font-weight: bold;
            }
          }
        }
        .right{
          width: 308px;
          height: 100%;
         // background: yellowgreen;
          .wrap{
            overflow: hidden;
            width: 100%;
            height:100%;
            .list{
              width: 100%;
              height:100%;
              margin-top: 80px;
              box-sizing: border-box;
              &>li{
                width: 33%;
                height:30%;
                float: left;
                font-size: 14px;
                text-align: center;
                &>.font_red{
                  color:red
                }
              }
            }

          }
        }
      }
      .black_nav{
        width: 100%;
        height: 40px;
        background: #323434;
        .black_nav_ul{
          width: 1200px;
          height: 40px;
          margin-left: 28px;
          overflow: hidden;
          font-size: 14px;
          &>li{
            float: left;
            width: 140px;
            height: 40px;
           color: #FFFFFF;
            line-height:  40px;
            text-align: center;
            &:nth-child(1){
              background-color: #424242;;
            }
          }
        }
      }
      .home_left{
        width: 960px;
     //  height:300px;
        margin-left: 30px;
    //  background: paleturquoise;
        float: left;
        //服务项目
        .fuwu_item{
          width: 100%;
         // height:300px;
         background: #fff;

            .fuwu_title{
             // width:100%;
              width: 960px;
              height:64px;
              box-sizing: border-box;
              padding:0 20px;
              overflow: hidden;
              .father{
                width: 918px;
                height:64px;
                overflow: hidden;
                box-sizing: border-box;
                border-bottom: 1px solid #bbb;
                .font_fuwu{
                  width:64px ;
                  height: 39px;
                  margin-top: 20px;
                  &>span{
                    display: inline-block;
                    width: 100%;
                    height: 39px;
                    line-height:41px ;
                   border-bottom: 4px solid red;
                  }
                }
              }


            }
           &>a{
             .item{
               &:hover{
                 background-color:#eee ;
               }
               width: 960px;
               height: 200px;
               //   background: pink;
               border-bottom: 1px solid #bbb;
               box-sizing: border-box;
               padding: 20px;
               .item_inner{
                 width: 100%;
                 height: 100%;
                 overflow: hidden;
                 .left{
                   width: 150px;
                   height: 150px;
                   float: left;
                   &>img{
                     width: 100%;
                     height: 100%;
                   }
                 }
                 .right{
                   width: 705px;
                   height: 150px;
                   float: left;
                   //background-color: #ffc3df;
                   overflow: hidden;
                   .info{
                     width: 600px;
                     height: 150px;
                     float: left;
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     line-height:42px;
                     overflow: hidden;
                     box-sizing: border-box;
                     margin-left: 20px;
                     .title{
                       height: 42px;
                       font-size: 30px;
                       margin-top: 20px;
                     }
                     .info_gray{
                       height: 42px;
                       font-size: 14px;
                       color: #7e8c8d;
                     }
                     .sell{
                       height: 42px;
                       &>span{
                         color: red;
                       }
                       .jiage{
                         font-size: 28px;
                       }
                     }
                   }
                   .yishou{
                     width: 85px;
                     height: 150px;
                     float: left;
                     //  background: #ff21fb;
                     display: flex;
                     justify-content: flex-start;
                     align-items: flex-end;
                     &>span{
                       display: block;
                       color:#7e8c8d;
                     }
                   }
                 }
               }
             }
           }
        }
        //商家简介
        .shangjia_item{
          margin-top: 70px;
          width: 100%;
          // height:300px;
          background: #fff;

          .fuwu_title{
            // width:100%;
            width: 960px;
            height:64px;
            box-sizing: border-box;
            padding:0 20px;
            overflow: hidden;
            .father{
              width: 918px;
              height:64px;
              overflow: hidden;
              box-sizing: border-box;
              border-bottom: 1px solid #bbb;
              .font_fuwu{
                width:64px ;
                height: 39px;
                margin-top: 20px;
                &>span{
                  display: inline-block;
                  width: 100%;
                  height: 39px;
                  line-height:41px ;
                  border-bottom: 4px solid red;
                }
              }
            }


          }
          &>a{
            .item{
              &:hover{
                background-color:#eee ;
              }
              width: 960px;
              height: 200px;
              //   background: pink;
              // border-bottom: 1px solid #bbb;
              box-sizing: border-box;
              padding: 20px;
              .item_inner{
                width: 100%;
                height: 100%;
                overflow: hidden;
                .left{
                  width: 150px;
                  height: 150px;
                  float: left;
                  &>img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .right{
                  width: 705px;
                  height: 150px;
                  float: left;
                  //background-color: #ffc3df;
                  overflow: hidden;
                  .info{
                    width: 600px;
                    height: 150px;
                    float: left;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    line-height:42px;
                    overflow: hidden;
                    box-sizing: border-box;
                    margin-left: 20px;
                    .title{
                      height: 42px;
                      font-size: 30px;
                      margin-top: 20px;
                    }
                    .info_gray{
                      height: 42px;
                      font-size: 14px;
                      color: #7e8c8d;
                    }
                    .sell{
                      height: 42px;
                      &>span{
                        color: red;
                      }
                      .jiage{
                        font-size: 28px;
                      }
                    }
                  }
                  .yishou{
                    width: 85px;
                    height: 150px;
                    float: left;
                    //  background: #ff21fb;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    &>span{
                      display: block;
                      color:#7e8c8d;
                    }
                  }
                }
              }
            }
          }
        }

        //用户评论
        .usercomment_item{
          margin-top: 10px;
          width: 100%;
          // height:300px;
          background: #fff;

          .fuwu_title{
            // width:100%;
            width: 960px;
            height:64px;
            box-sizing: border-box;
            padding:0 20px;
            overflow: hidden;
            .father{
              width: 918px;
              height:64px;
              overflow: hidden;
              box-sizing: border-box;
              border-bottom: 1px solid #bbb;
              .font_fuwu{
                width:60px ;
                height: 39px;
                margin-top: 20px;
                border-bottom: 4px solid red;
                &>span{
                  font-size: 14px;
                  display: inline-block;
                  width: 160px;
                  height: 39px;
                  line-height:41px ;

                }
              }

            }

          }
          .comments{
            &>a{
              .item{

                width: 960px;
                height: 200px;
                //   background: pink;
                border-bottom: 1px solid #bbb;
                box-sizing: border-box;
                padding: 20px;
                .item_inner{
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  .left{
                    width: 80px;
                    height: 80px;
                    float: left;
                    .img_inner{
                      width: 40px;
                      height: 40px;
                      background: pink;
                      &>img{
                        width: 100%;
                        height: 100%;
                      }
                    }

                  }
                  .right{
                    width: 705px;
                    height: 150px;
                    float: left;
                    //background-color: #ffc3df;
                    overflow: hidden;
                    .info{
                      width: 800px;
                      height: 160px;
                      float: left;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      line-height:30px;
                      overflow: hidden;
                      box-sizing: border-box;
                      margin-left: 20px;
                      .title{
                        height: 30px;
                        font-size: 16px;
                        // margin-top: 20px;
                      }
                      .info_gray{
                        height: 25px;
                        font-size: 14px;
                        color: #7e8c8d;
                      }
                      .sell{
                        font-size: 16px;
                        height: 25px;
                        margin-bottom: 10px;
                        &>span{
                          color: #bbb;
                        }
                        .jiage{
                          font-size: 14px;
                        }
                      }
                      .shangjiahuifu{
                        width: 800px;
                        height:40px;
                        //background: pink;
                        border-top:solid 1px #bbbbbb;
                        .blue{
                          color: paleturquoise;
                        }
                      }
                    }

                  }
                }
              }
            }
          }

        }

        //分页器
        .fenye{
          width: 100%;
          height:152px;
          background: #fff;
          overflow:hidden;
          .inner{
            width: 630px;
            height:130px;
           // background: pink;
            margin-left: 170px;
            overflow:hidden;
            .left{
             float: left;
              width: 80px;
              height:130px;
          //  background: plum;
              display: flex;
              justify-content: center;
              align-items: center;
            .prew{
                width: 70px;
                height: 30px;
                text-align: center;
                line-height:30px ;
              box-sizing: border-box;
              border: 1px solid #eee;
              }
            }
            .center{
              width: 470px;
              height:130px;
              float: left;
           //   background: pink;
              display: flex;
              justify-content: center;
              align-items: center;
              &>a{
                /*分页器方块*/
                .block{
                  &.active{
                    background: red;
                    color:#fff;
                  }
                  &:hover{
                    background: red;
                    color:#fff;
                  }
                  width: 30px;
                  height:30px;
                  border: 1px solid #eee;
                 background: #fff;
                 color:#000;
                  line-height:30px;
                  text-align: center;
                  margin: 0 5px;
                }
              }
            }
            .right{
            float: right;
              width: 80px;
              height:130px;
            //  background: paleturquoise;
              display: flex;
              justify-content: center;
              align-items: center;

             .last{
               width: 70px;
               height: 30px;
               text-align: center;
               line-height:30px ;
              // background: purple;
               box-sizing: border-box;
               border: 1px solid #eee;

              }
            }
          }
        }

      }

      .home_right{
        width: 240px;
        height:100%;
        // background: yellowgreen;
        float: left;
        .fix_img{
          width: 230px;
          height:300px;
          // background: pink;
          float: right;
          margin:5px;
          // box-sizing: border-box;
          &>img{
            display: inline-block;
            vertical-align: middle;
            // margin-right:0px;
            width: 100%;
            height: 100%;
          }
        }
      }


    }
  }


  //服务页footer
  .footer{

    .footer_top{
      width: 100%;
      height:370px;
      overflow: hidden;

      //.clearFix();
      .baozhang_header{
        margin-top: 40px;
        width: 100%;
        height:124px;
        //  background: greenyellow;
        display: flex;
        flex-direction: column;
        align-items: center;

        .fuwu{
          height: 33px;
          width: 100%;
          text-align: center;
          font-weight: bold;
          h2{
            font-size: 28px;
            height: 100%;
            .red{
              color: red;
            }
          }
        }
        .jiaoyi{
          height: 45px;
          width: 100%;
          text-align: center;
          margin: 10px 0;
          line-height:45px;
          font-size:24px ;
        }
        .miaoshu{
          height: 44px;
          width: 100%;
          display: flex;
          // flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size:20px ;
          .item{
            height: 22px;
            width: 139px;
            text-align: center;
            .iconfont{
              color: #55ff50;
              font-size:20px ;
            }
          }
        }
      }
      .footer_bottom{
        width: 100%;
        height:170px;
        // background: pink;
        margin-top:56px ;
        overflow: hidden;
        .city{
          .remen_city{
            width: 14%;
            height: 170px;
            // background: yellow;
            float: left;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            span{
              line-height: 80px;
            }
          }
          .list{
            float: right;
            width: 86%;
            height: 170px;
            //  background: plum;
            .city_ul{
              height: 170px;
              width: 100%;
              box-sizing: border-box;
              padding: 20px;
              &>li{
                float: left;
                height: 30px;
                width: 92px;
                margin: 2px;
                &>a{
                  display: inline-block;
                  height: 100%;
                  width: 100%;
                  line-height:30px;
                  text-align: center;
                  //    background: paleturquoise;
                }
              }
            }
          }
        }

      }

    }

    .hezuo{
      height: 40px;
      width: 100%;
      background: #FBF8F8;
      .banquan{
        width: 100%;
        height: 40px;
        //  overflow: hidden;
        box-sizing: border-box;
        padding: 0 20px;
        &>.bb{
          //  background: pink;
          width: 100%;
          height: 40px;
          line-height:40px;
          font-size: 14px ;
          color: #999;
          // margin-top: -20px;
        }
      }
    }

  }
}